node_modules
package-lock.json

# Environment
.env
.env.testing

# Storage
storage/logs/*.log
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
!storage/logs/.gitignore

# Database
database.sqlite
database.sqlite-journal

# Luak Docs
PUBLISH.md

# Logs